# Environment variables
.env
*.env
NLP-project/.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large pretrained models
models/language_identifier/fasttext_language_model.bin
models/target_model/model.safetensors